---
layout: default
---

<div class="col-lg-8 mx-auto p-4 py-md-5">
  
  {% include header.html %}

  <main>

    <article>
      <h1>{{page.title}}</h1>
      <p>By: {{page.author}}</p>
      <p>{{ content }}</p>

      <span class="post-tags">
        {% for tag in page.tags %}
          <a class="post-tag"
             href="{{ site.baseurl }}/tag/{{ tag | slugify }}"
             >{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
    </article>
  
  </main>
